.card {
    display: inline-block;
    width: 300px;
    margin: 50px 50px 50px 50px;
    background-color: darksalmon;   
}

body {
    background-color: bisque;
    text-align: center;
}
li {
    text-align: left;
}
img {
    width: 100%;
}